.jumbotron {
    padding: 0px;
}

header a, footer a {
    color: #fff;
    text-decoration: none;
}

    header a:hover, footer a:hover {
        color: #1F669C;
        text-decoration: none;
    }

h1 span {
    color: #1F669C;
}

header p span {
    color: #fff;
}

header #title  {
    display:none;
}

#icon {
	color: #1F669C;
    margin-top:35px;
}

header h1 {
	margin: 0px;
}

header pre {
    background-color: transparent;
    border: 0px;
    color: #FFFFFF;
    font-weight: 900;
    text-decoration: none;
}

html, body {
    height: 100%;
}
    
.fixed-width {
    font-family: courier new, monospace;
}

footer {
    margin-top: 30px;
    height: 60px;
    padding-top: 20px;
    color: inherit;
}

header, footer {
    background-color: #3CC255 !important;
}

abbr[title] {
    border-bottom: 1px dotted #eee;
}

textarea
{
    overflow-x:scroll;
    overflow-y:scroll;
}

#auto-format
{
	background-color: inherit;
	margin: 0px;
}
