* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #121212;
  color: #fff;
  margin: 0;
}

/* ----------------------- Header ----------------------- */

header {
  height: 10vh;
  padding: 0 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2e2f32;
}

#logo {
  display: flex;
  align-items: center;
}

#logo img {
  height: 2em;
  width: auto;
  margin-right: 20px;
}

#logo h1 {
  font-size: 1.5em;
}

/* -------------- Options -------------- */
#options-container * {
  margin-right: 5px;
}

#options-container *:last-of-type {
  margin: none;
}

select,
input {
  background-color: #6b6b6c;
  color: #fff;
  border: 3px solid #6b6b6c;
  border-radius: 5px;
  font-size: 0.8em;
}

label {
  font-size: 0.9em;
}

/* ----------------------- Text Boxes ----------------------- */

.container-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.input,
.output {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.input textarea,
.output textarea {
  width: 38vw;
  height: 70vh;
  border: none;
  border-radius: 10px;
  padding: 15px;
  resize: none;
  background-color: #3d3e41;
  color: #fff;
}

.input {
  margin-left: 5%;
}
.output {
  margin-right: 5%;
}

h2 {
  font-size: 1.5em;
}

/* ----------------------- Buttons ----------------------- */

.button-container {
  display: flex;
  flex-direction: column;
}

button {
  width: 8vw;
  height: 6vh;
  border: none;
  border-radius: 13px;
  background-color: #2c2c2e;
  color: #fff;
  margin-bottom: 25px;
  text-align: right;
  padding: 0 20%;
  background-repeat: no-repeat;
  background-position: 20% 50%;
  background-size: 15%;
}

button:hover {
  background-color: #464647;
  cursor: pointer;
}

button:active {
  width: 7vw;
  height: 5vh;
}

button:first-child {
  color: #3cc255;
}
button:last-child {
  color: #2282db;
  margin-bottom: 0;
}

#create {
  background-image: url("../icons/right_arrow.svg");
}

#copy {
  background-image: url("../icons/copy.svg");
}

#parse {
  background-image: url("../icons/left_arrow.svg");
}

/* ----------------------- Footer ----------------------- */

footer {
  font-size: 0.9em;
  margin-top: 20px;
  text-align: center;
  color: #b1b1b1;
}

/* ----------------------- Light Mode ----------------------- */

@media (prefers-color-scheme: light) {
  body {
    background-color: #fff;
    color: #000000;
  }

  header {
    background-color: #1d1d1d;
    color: #fff;
  }

  select,
  input {
    background-color: revert;
    color: revert;
    border: 1px solid #fff;
  }

  .input textarea,
  .output textarea {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
  }

  button {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
  }

  button:hover {
    background-color: #464647;
    cursor: pointer;
  }

  #copy {
    background-image: url("../icons/copy_light.svg");
  }

  footer {
    color: #444444;
  }
}
