.jumbotron, div.container-fluid, div.row {
    padding: 0px;
	margin: 0px;
}

header a, footer a {
    color: #fff;
    text-decoration: none;
}

header a:hover, footer a:hover {
	color: #1F669C;
	text-decoration: none;
}

h1 span {
    color: #1F669C;
}

header p span {
    color: #fff;
}

header #title  {
    display:none;
}

#icon {
	color: #1F669C;
    margin-top:35px;
}

header h1 {
	margin: 0px;
}
#settings {
	margin-top: 5px;
}

div.row {
	width:100%;
}
header pre {
    background-color: transparent;
    border: 0px;
    color: #FFFFFF;
    font-weight: 900;
    text-decoration: none;
}

html, body {
    height: 100%;
	margin: 0px;
	padding: 0px;
}
    
.fixed-width {
    font-family: courier new, monospace;
}

#main {
    min-height: 100%;
    padding: 0 0 60px;
    position: relative;
}	
footer {
    margin-top: 30px;
    height: 60px;
    padding-top: 20px;
    color: inherit;
	text-align: center;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

header, footer {
    background-color: #3CC255 !important;
}

abbr[title] {
    border-bottom: 1px dotted #eee;
}

textarea, .well {
	margin-top:10px;
	margin-bottom:5px;
}

#auto-format
{
	background-color: inherit;
	margin: 0px;
}
