.jumbotron {
    padding-top: 0px;
}

header a, footer a {
    color: #fff;
    text-decoration: none;
}

    header a:hover, footer a:hover {
        color: #1F669C;
        text-decoration: none;
    }

h1 span {
    color: #1F669C;
}

header p span {
    color: #fff;
}

header #title  {
    display:none;
}

header #icon {
    float:left;
    margin-top:35px;
}

header pre {
    float:left;
    background-color: transparent;
    border: 0px;
    color: #FFFFFF;
    font-weight: 900;
}

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

#controls {
    margin-top: 10px;
    width: 400px;
}

    #controls label {
        float: left;
        display:block;
        margin:6px 10px 0 30px;
        width:100px;
    }

    #controls select {
        width: 200px;
    }

    #controls input {
        width: auto;
    }
    
button {
    margin-left: 125px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.fixed-width {
    font-family: courier new, monospace;
}

#outputTbl {
    margin-top: 30px;
}

footer {
    margin-top: 30px;
    height: 60px;
    padding-top: 20px;
    color: #fff;
}

    footer:hover {
        color: inherit;
    }


header, footer {
    background-color: #3CC255 !important;
}

abbr[title] {
    border-bottom: 1px dotted #eee;
}
